.descriptionContainer {
  height: 530px;
  width: 22%;
  background-color: #222;
  margin: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px gray;
}

.allCountryStateDataContainer {
  height: 260px;
  width: 71%;
  background-color: #222;
  margin: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px gray;
}

.specificCountryDataContainer {
  height: 240px;
  width: 34.5%;
  background-color: #222;
  margin: 3px;
  border-radius: 50px;
  box-shadow: 10px 10px grey;
  position: absolute;
  top: 57%;
}

.specificStateDataContainer {
  height: 240px;
  width: 34.5%;
  background-color: #222;
  margin: 3px;
  border-radius: 50px;
  box-shadow: 10px 10px grey;
  position: absolute;
  left: 62.5%;
  top: 57%;
}

.descriptionBoxHeading {
  color: antiquewhite;
  text-align: center;
  text-decoration: underline;
  font-size: 24px;
}

.allCountryStateDataContainerHeading {
  text-decoration: underline;
  color: antiquewhite;
  text-align: center;
  font-size: 24px;
}

.specificCountryDataContainerHeading {
  text-decoration: underline;
  color: antiquewhite;
  text-align: center;
  font-size: 24px;
}

.specificStateDataContainerHeading {
  text-decoration: underline;
  color: antiquewhite;
  text-align: center;
  font-size: 22px;
}

.description {
  /* color: moccasin; */
  color: antiquewhite;
  font-size: 18px;
  font-family: cursive;
  margin-top: 35px;
  /* text-align: justify;
  text-justify: inter-word; */
  /* padding: 12px; */
}

.specificCountryDropdown,
.specificStateDropdown {
  text-align: center;
  width: 300px;
  background: none;
  border: none;
  text-decoration-line: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
