.descriptionBoxHeading {
  color: antiquewhite;
  text-align: center;
  text-decoration: underline;
  font-size: 24px;
}

.description {
  text-align: left;
  color: antiquewhite;
  font-size: 18px;
  font-family: cursive;
  margin-top: 35px;
}
