.grid-container {
    display: grid;
    grid-gap: 10px;
    /* background-color: white; */
    padding: 30px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 10px;
    font-size: 30px;
    border-radius: 10px;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .item1 {
    grid-column: 2 / span 2;
    grid-row: 1;
    height: 40vh;
    background-color: #222;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .item2 {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 79.9vh;
    background-color: #222;
    overflow: hidden;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .item3, .item4 {
    background-color: #222;
    height: 37.5vh;
    grid-template-columns: repeat(3, 1fr);
  }