
.specificCountryDropdown,
.specificStateDropdown {
  text-align: center;
  width: 300px;
  background: none;
  border: none;
  text-decoration-line: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}